@import "tailwindcss";

:root {
  --background: #1a1d2d;
  --foreground: #d0d2d6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-moon-dark: #1a1d2d;
  --color-moon-nav: #1e2132;
  --color-moon-component: #25293c;
  --color-moon-border: #363a50;
  --color-moon-text: #d0d2d6;
  --color-moon-text-secondary: #888ca4;
  --color-moon-purple: #7843e9;
  --color-moon-purple-light: #9e78ff;
  --color-moon-green: #22c55e;
  --color-moon-orange: #f97316;
  --color-moon-blue: #3b82f6;
}

body {
  background: var(--color-moon-dark);
  color: var(--color-moon-text);
  font-family: Arial, Helvetica, sans-serif;
}
